 <div class="text-center">
    <%= link_to 'ギルド', destroy_user_session_path, data: { turbo_method: :delete } , class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition" %>
    <%= link_to '商店', destroy_user_session_path, data: { turbo_method: :delete } , class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition" %>
    <%= link_to '宿屋', destroy_user_session_path, data: { turbo_method: :delete } , class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition" %>
  </div>
<p></p>
  <div class="text-center">
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } , class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition" %>
  </div>


